
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_LayoutGBFShoe.cshtml";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/Asset/images/banner-a.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>
                    <p class="stext-112 cl16 p-b-26">
                        Project make by 5 members:
                    </p>
                    <p class="stext-113 cl16 p-b-26">
                        Project Manager : Vương Võ Trung Quân
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Deputy Project Manager : Nguyễn Hữu Hậu
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Team Members :
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Nguyễn Hoàng Trọng Phúc, Trần Đức Phú Quý, Nguyễn Đức Trung
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Title : Xây dựng website bán giày cho cửa hàng GBF Shoe tại Thủ Dầu Một, Bình Dương.
                    </p>
                    <p class="stext-113 cl6 p-b-26">

                        Description : The website aims to serve customers with a desire to shop for footwear from well-known brands.
                    </p>
                </div>
            </div>
            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="~/Asset/images/about13.png" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>
                    <p class="stext-113 cl6 p-b-26">
                        This is the project that our team together carried out with 5 members. The project has helped us gain a deeper understanding of many things that we were lacking before, and some functions are not yet fully complete. Nevertheless, this is still the achievement that we have strived to accomplish.
                        With a relentless desire for continuous improvement, we have dedicated regular time to listen to feedback and contributions from the user community. This has helped us refine and optimize the project, providing a better experience for everyone.

                    </p>
                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            We firmly believe that these efforts will spread value and positive impact throughout the community. The project is not just our accomplishment but also a result of the contributions and support from everyone. We hope that it will continue to inspire and ignite passion for the future. Thank you for your companionship and support!
                        </p>
                        <span class="stext-111 cl8">
                            - GBFShoes - GBFGroup
                        </span>
                    </div>
                </div>
            </div>
            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="~/Asset/images/about-a.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



