
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_LayoutGBFShoe.cshtml";
}


<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/Asset/images/banner-b.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Contact
    </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=650&amp;height=450&amp;hl=en&amp;q=Đại học Thủ Dầu Một&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://connectionsgame.org/">Connections Game</a></div>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        width: 650px;
                        height: 450px;
                    }

                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        width: 450px;
                        height: 560px;
                    }

                    .gmap_iframe {
                        width: 650px !important;
                        height: 450px !important;
                    }
                </style></div>
            </div>
            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-map-marker"></span>
                    </span>
                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Address
                        </span>
                        <p class="stext-115 cl6 size-213 p-t-18">
                            06 Trần Văn Ơn, Phú Hoà, Thủ Dầu Một, Bình Dương
                        </p>
                    </div>
                </div>
                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-phone-handset"></span>
                    </span>
                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Lets Talk
                        </span>
                        <p class="stext-115 cl1 size-213 p-t-18">
                            (+84) 091 331 28 50
                        </p>
                    </div>
                </div>
                <div class="flex-w w-full">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-envelope"></span>
                    </span>
                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Sale Support
                        </span>
                        <p class="stext-115 cl1 size-213 p-t-18">
                            GBFShoe@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

